section.greeting
    div.container
        div.greeting__frame
            h1.greeting__title GameFi<br> short video<br> <span>platform</span>
            h2.greeting__subtitle Watch. Play. Earn
            div.greeting__play
                a(class="greeting__play-icon" href="#")
                    img(src="./images/icons/google-play.svg", alt="google play", width="30", height="32")
                div.greeting__play-heading Pre-registration in Google Play
            div.greeting__social
                a(class="greeting__social-link" href="#")
                    img(src="./images/icons/discord.svg", alt="discord", width="37", height="28")
                a(class="greeting__social-link" href="#")
                    img(src="./images/icons/telegram.svg", alt="telegram", width="32", height="28")
                a(class="greeting__social-link" href="#")
                    img(src="./images/icons/twitter.svg", alt="twitter", width="34", height="28")
                a(class="greeting__social-link" href="#")
                    img(src="./images/icons/facebook.svg", alt="facebook", width="14", height="29")
                a(class="greeting__social-link" href="#")
                    img(src="./images/icons/instagram.svg", alt="instagram", width="30", height="30")
                a(class="greeting__social-link" href="#")
                    img(src="./images/icons/overflow.svg", alt="overflow", width="37", height="20")