section.mission
    div.container
        h2.title <span>Cheelee’s</span> mission
        div.mission__cols
            div.mission__col
                p.mission__text Users spend an average of 2.5 hours daily on social networks and get nothing fоr it. We believe that this is unfair
            div.mission__col
                p.mission__text <b>Our mission</b> is to provide everyone with the opportunity to monetize time in social networks
        h3.subtitle <span>Cheelee</span> works within the "Attention Economy" framework
        div.mission__cols
            div.mission__col
                p.mission__text.mission__text_small Other social media consider a user as an information and advertising influence target, <strong>but a Cheelee user is a full system member, partner and beneficiary</strong>
            div.mission__col
                p.mission__text.mission__text_small The main idea is that attention is converted into income with digital platforms. You pay your attention to what you want, and get paid for it. Your attention has a certain cost.
            div.mission__col
                p.mission__text.mission__text_small <strong>The Attention Economy</strong> sees human attention as a scarce commodity making it a new oil! The founder of this concept is the Nobel laureate Herbert Simon
            div.mission__col
                p.mission__text.mission__text_small Through the GameFi mechanics, Cheelee’s users earn together with the platform by converting their attention into money
        div.mission__actions
            div.mission__action
                div.mission__action-num 1
                h4.mission__action-heading Sign-up and get your <span>free NFT glasses</span>
            div.mission__action
                div.mission__action-num 2
                h4.mission__action-heading Watch the feed and get the boxes <span>with LEE tokens</span>
            div.mission__action.mission__action_nft-icon
                div.mission__action-num 3
                h4.mission__action-heading Buy your NFT glasses and <span>get LEE tokens</span> directly when watching the feed
                p.mission__action-text The higher the rarity of your NFT glasses,the more points you get when leveling themup – the more tokens you can earn
            div.mission__action
                div.mission__action-num 4
                h4.mission__action-heading Upgrade your <span>NFT glasses</span>
            div.mission__action
                div.mission__action-num 5
                h4.mission__action-heading <span>Buy additional NFT glasses</span> to increase the amount of Attention and rewarded time of watching the feed
                p.mission__action-text 1 Attention = <span>10 minutes</span> of rewarded feed viewing
        div.mission__boxes
            h3.mission__boxes-heading Watch the videos and <span>get the boxes</span>
            p.mission__boxes-text While watching the feed you can get boxes with NFT or LEE tokens