section.team
    div.container
        h4.team__title Cheelee team has already launched product
        p.team__text The project is based on the already launched in 2021 short video platform – NUTSon (1.5M users, 33% engagement rate and 15K videos created daily)