section.about
	div.container
		h3.title.title_medium О нас в цифрах
		div.about-items
			div.about__item
				h4.about__item-heading 1,8 тыс +
				p.about__item-text компаний по всей России уже участвуют<br> в Программе лояльности
			div.about__item
				h4.about__item-heading 75 млн +
				p.about__item-text участников Программы — держателей карт «Мир»<br> и пользователей СБП
			div.about__item
				h4.about__item-heading 5,9 млн +
				p.about__item-text покупок с кешбэком совершено за последний год
			div.about__item
				h4.about__item-heading 8 лет
				p.about__item-text с момента запуска Программы лояльности