mixin items()
	div.advantages__item
		svg.advantages__item-icon(width="48" height="48")
			use(href="./images/icons/advantages.svg#launching")
		h4.advantages__item-heading Самостоятельный запуск акций
		p.advantages__item-text Определяйте условия<br> и сроки запуска акций, исходя из ваших бизнес-целей. Ваши клиенты будут получать кешбэк<br> за покупки по карте «Мир» или через СБП
	div.advantages__item
		svg.advantages__item-icon(width="48" height="48")
			use(href="./images/icons/advantages.svg#transparency")
		h4.advantages__item-heading Прозрачность расходов
		p.advantages__item-text Ваши расходы на акцию включают только кешбэк клиентам и сервисную комиссию, которая зависит от вида деятельности компании<br> и определяется <a href="#">Тарифами</a>
	div.advantages__item
		svg.advantages__item-icon(width="48" height="48")
			use(href="./images/icons/advantages.svg#promoting")
		h4.advantages__item-heading Продвижение вашего бренда
		p.advantages__item-text Клиенты увидят акцию вашей компании на сайте <a href="#">vamprivet.ru</a>, в мобильном приложении «Привет!»<br> и в других каналах коммуникаций Программы лояльности
	div.advantages__item
		svg.advantages__item-icon(width="48" height="48")
			use(href="./images/icons/advantages.svg#nomodifications")
		h4.advantages__item-heading Отсутствие доработок
		p.advantages__item-text С вашей стороны<br> не требуются технические доработки<br> или дополнительный документооборот<br> по сопровождению акции

section.advantages
	div.container
		h2.title.title_medium Преимущества для вашей компании
		div.advantages-items
			+items()
		div.advantages-items.owl-carousel.owl-theme.advantages-items_mobile
			+items()
