section.advantages
	div.container
		h2.title.title_medium Преимущества для вашей компании
		div.advantages-items
			div.advantages__item
				svg.advantages__item-icon(width="48" height="48")
					use(href="./images/icons/advantages.svg#launching")
				svg.advantages__item-icon(width="48" height="48")
					use(href="./images/icons/advantages.svg#transparency")
				svg.advantages__item-icon(width="48" height="48")
					use(href="./images/icons/advantages.svg#promoting")
				svg.advantages__item-icon(width="48" height="48")
					use(href="./images/icons/advantages.svg#nomodifications")
