section.banks
	div.container
		h3.title.title_medium.title_center.banks-title С какими банками-эквайрерами можно запускать акции<br> в Программе лояльности «Привет!»
		div.banks__search
			button.banks__search-submit(type="button")
				img(src="./images/icons/search.svg", alt="Лупа")
			input.banks__search-field(type="text" placeholder="Поиск")
			button.banks__search-clear(type="button")
				img(src="./images/icons/clear.svg", alt="Крест")
		div.banks-items
			div.banks__item
				picture
					source(srcset="./images/banks/sber.avif", type="image/avif")
					source(srcset="./images/banks/sber.webp", type="image/webp")
					img(src="./images/banks/sber.png", alt="Сбер банк", width="130", height="20")
			div.banks__item
				picture
					source(srcset="./images/banks/vtb.avif", type="image/avif")
					source(srcset="./images/banks/vtb.webp", type="image/webp")
					img(src="./images/banks/vtb.png", alt="ВТБ", width="94", height="34")
			div.banks__item
				picture
					source(srcset="./images/banks/pochta-bank.avif", type="image/avif")
					source(srcset="./images/banks/pochta-bank.webp", type="image/webp")
					img(src="./images/banks/pochta-bank.png", alt="Почта банк", width="130", height="28")
			div.banks__item
				picture
					source(srcset="./images/banks/tinkoff.avif", type="image/avif")
					source(srcset="./images/banks/tinkoff.webp", type="image/webp")
					img(src="./images/banks/tinkoff.png", alt="Тинькофф Банк", width="110", height="32")
			div.banks__item
				picture
					source(srcset="./images/banks/otkritie.avif", type="image/avif")
					source(srcset="./images/banks/otkritie.webp", type="image/webp")
					img(src="./images/banks/otkritie.png", alt="Открытие банк", width="110", height="30")
			div.banks__item
				picture
					source(srcset="./images/banks/gazprom.avif", type="image/avif")
					source(srcset="./images/banks/gazprom.webp", type="image/webp")
					img(src="./images/banks/gazprom.png", alt="Газпромбанк", width="130", height="34")
			div.banks__item
				picture
					source(srcset="./images/banks/bank-russia.avif", type="image/avif")
					source(srcset="./images/banks/bank-russia.webp", type="image/webp")
					img(src="./images/banks/bank-russia.png", alt="Банк Россия", width="130", height="29")
			div.banks__item
				picture
					source(srcset="./images/banks/rnkb.avif", type="image/avif")
					source(srcset="./images/banks/rnkb.webp", type="image/webp")
					img(src="./images/banks/rnkb.png", alt="РНКБ", width="75", height="48")
			div.banks__item
				picture
					source(srcset="./images/banks/russian-standart.avif", type="image/avif")
					source(srcset="./images/banks/russian-standart.webp", type="image/webp")
					img(src="./images/banks/russian-standart.png", alt="Русский стандарт банк", width="94", height="34")
			div.banks__item
				picture
					source(srcset="./images/banks/alfa-bank.avif", type="image/avif")
					source(srcset="./images/banks/alfa-bank.webp", type="image/webp")
					img(src="./images/banks/alfa-bank.png", alt="Альфа банк", width="121", height="37")
			div.banks__item
				picture
					source(srcset="./images/banks/rsxb.avif", type="image/avif")
					source(srcset="./images/banks/rsxb.webp", type="image/webp")
					img(src="./images/banks/rsxb.png", alt="Россельхоз Банк", width="130", height="45")
			div.banks__item
				picture
					source(srcset="./images/banks/moscow-bank.avif", type="image/avif")
					source(srcset="./images/banks/moscow-bank.webp", type="image/webp")
					img(src="./images/banks/moscow-bank.png", alt="Московский кредитный банк", width="130", height="20")