section.cases
	div.container
		h3.title.title_medium Примеры успешных кейсов
		div.owl-carousel.owl-theme#cases-slider
			div.cases__item
				svg.cases__item-icon(width="32" height="32")
					use(href="./images/icons/cases.svg#supermarkets")
				h4.cases__item-heading Супермаркеты
				ul.cases__item-list
					li + 15% — дополнительный оборот
					li + 7% — новых клиентов
					li + 5% — рост среднего чека
					li + 2% — увеличилась частота покупок
			div.cases__item
				svg.cases__item-icon(width="32" height="32")
					use(href="./images/icons/cases.svg#clothes")
				h4.cases__item-heading Одежда, обувь, аксессуары
				ul.cases__item-list
					li + 18% — дополнительный оборот
					li + 13% — новых клиентов
					li + 5% — рост среднего чека
			div.cases__item
				svg.cases__item-icon(width="32" height="32")
					use(href="./images/icons/cases.svg#cafes")
				h4.cases__item-heading Кафе и рестораны
				ul.cases__item-list
					li + 19% — дополнительный оборот
					li + 12% — новых клиентов
					li + 3% — рост среднего чека
					li + 4% — увеличилась частота покупок
			div.cases__item
				svg.cases__item-icon(width="32" height="32")
					use(href="./images/icons/cases.svg#home")
				h4.cases__item-heading Для дома и сада
				ul.cases__item-list
					li + 18% — дополнительный оборот
					li + 10% — новых клиентов
					li + 8% — рост среднего чека
			div.cases__item
				svg.cases__item-icon(width="32" height="32")
					use(href="./images/icons/cases.svg#hotels")
				h4.cases__item-heading Гостиницы
				ul.cases__item-list
					li + 24% — дополнительный оборот
					li + 13% — новых клиентов
					li + 15% — рост среднего чека