section.greetings
	div.container
		div.greetings__rows
			div.greetings__rows-col
				h1.title Запускайте акции с кешбэком<br> по СБП и картам «Мир»
				p.greetings-text Используйте технологические возможности Национальной системы<br> платёжных карт для развития своего бизнеса! Запускайте акции<br> с кешбэком для участников Программы лояльности — держателей<br> карт «Мир» и пользователей СБП.
				div.greetings-btns
					a(href="#" class="btn btn_primary") Стать партнёром
					a(href="#" class="btn btn_outline") Вход в личный кабинет
			div.greetings__rows-col
				img(src="./images/greetings-banner.png" alt="Баннер" class="greetings-img" width="455" height="400")