section.mechanism
	div.container
		h3.title.title_medium Выбирайте механики акций в зависимости от бизнес-целей
		div.mechanism-items
			div.mechanism__item.mechanism__item_red
				div.mechanism__item-icon
					svg(width="48" height="48")
						use(href="./images/icons/mechanism.svg#clients")
				h4.mechanism__item-heading Привлечь новых клиентов
				p.mechanism__item-text Кешбэк за любую или первую покупку
				p.mechanism__item-text Пример: кешбэк 10% за любую покупку
			div.mechanism__item.mechanism__item_violet
				div.mechanism__item-icon
					svg(width="48" height="48")
						use(href="./images/icons/mechanism.svg#turnover")
				h4.mechanism__item-heading Увеличить оборот
				p.mechanism__item-text Кешбэк за покупку от определённой суммы
				p.mechanism__item-text Пример: кешбэк 300 ₽ за любую покупку от 1 500 ₽
			div.mechanism__item.mechanism__item_orange
				div.mechanism__item-icon
					svg(width="48" height="48")
						use(href="./images/icons/mechanism.svg#bill")
				h4.mechanism__item-heading Повысить средний чек
				p.mechanism__item-text Кешбэк за первую покупку от определённой суммы
				p.mechanism__item-text Пример: кешбэк 8% за первую покупку от 1 000 ₽
			div.mechanism__item.mechanism__item_blue
				div.mechanism__item-icon
					svg(width="48" height="48")
						use(href="./images/icons/mechanism.svg#purchase")
				h4.mechanism__item-heading Увеличить регулярность покупок
				p.mechanism__item-text Кешбэк за определённую покупку
				p.mechanism__item-text Пример: кешбэк 15% за третью покупку