section.stock
	div.container
		h3.title.title_medium Как запустить акцию
		div.stock-items
			div.stock__item
				div.stock__item-num 1
				p.stock__item-text Заполните <span>Анкету</span> и получите доступ в личный кабинет партнёра
			div.stock__item
				div.stock__item-num 2
				p.stock__item-text В личном кабинете оформите Заявление на присоединение<br> к Программе лояльности
			div.stock__item
				div.stock__item-num 3
				p.stock__item-text Выберите механику, укажите размер кешбэка и запускайте акцию<br> в личном кабинете!