$text-primary: #0D0D0D;
$primary-color: #4D35AF;
// $link-color: #4589E8; Background and foreground colors do not have a sufficient contrast ratio
$link-color: #13519F;

$background-gray: #F8F8F8;

$color-red: #E40646;
$color-violet: #5B57A2;
$color-orange: #EF8019;
$color-blue: #0698D6;

$bgcolor-red: #FFE0E9;
$bgcolor-violet: #EFEEFF;
$bgcolor-orange: #FFECDB;
$bgcolor-blue: #DDF5FF;
