div.presale
    div.container
        div.presale__block
            h4.presale__block-heading Don’t miss the <span>Presale</span>
            button(type="buttom" class="presale__btn") Buy NFT glasses