div.presale
    div.container
        div.presale__block
            div.presale__block-frame
                h4.presale__heading Don’t miss the <span>Presale</span>
                button(type="buttom" class="presale__btn") Buy NFT glasses
                div.presale__block-arr.presale__block-arr_top
                div.presale__block-arr.presale__block-arr_bot