doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Rebrain
body
    h1 Hello World !
    div(class="container")
        div(class="row")
            div(class="col")
                img(src="images/tex.jpeg" alt="aa")
            div(class="col")
                img(src="images/tex.jpeg" alt="aa")
            div(class="col")
                img(src="images/tex.jpeg" alt="aa")
