section.author
    div.container
        h2.author__title Авторы программы
        div.row
            div.col-lg-6.col-xl-6
                div.author__item
                    div.author__item__img
                        img(src="images/logo_rebrain-black.svg" alt="Rebrain лого")
                    div.author__item__text Мы разработали инновационную модель онлайн-практикумов для IT-специалистов. Через полное погружение в практику и решение реальных кейсов мы помогаем ребятам из любой точки мира получить востребованную профессию.
            div.col-lg-6.col-xl-6
                div.author__item
                    div.author__item__img
                        img(src="images/fevlake_logo.svg" alt="Fevlake лого")
                    div.author__item__text Международное агентство Devops-практик. Занимаемся проектированием и обслуживанием IT-инфраструктур с 2012 года. Наши клиенты: IMPROVE MEDIA, КупиКупон, CRYPTO EXCHANGE, NEWS360