section.coming-soon
    div.container
        div.row
            div.col-lg-6.col-xl-6
                img(src="images/cooming-python-logo.svg" alt="Python лого" class="coming-soon__python")
                h3.coming-soon__uppertitle Стоимость
                h2.coming-soon__title Coming soon
                h4.coming-soon__subtitle Практикум ClickHouse by REBRAIN
                button(class="coming-soon__btn") Сообщить о выходе программы
                div.comming-soon__license Life time лицензия
            div.col-lg-6.col-xl-6
                img(src="images/cerf-img.png" class="comming-soon__cerf" alt="Картинка сертификата")