section.comment
    div.container
        h2.comment__title Отзывы
        div(class="owl-carousel owl-theme" id="comment-slider")
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв
            div(class="item")
                div.item__header
                    div.item__header__img.anonymos
                    div.item__header__right
                        div.item__header__nickname @nickname
                        h3.item__header__username Елена Тимофеева
                div.item__body
                    h5.item__body__old 30 лет, Пермь
                    div.item__body__prof Системный администратор >> DevOps-инженер Fevlake
                    p.comment__text Почему заинтересовался DevOps?<br>1. Работа системным администратором, по крайней мере в том месте, где я работаю стала скучна и однообразна;<br>2. DevOps-практики, как мне кажется, сейчас в тренде, кроме того, мне это интересно;<br>3. ЗП специалиста в этой области больше;<br>4. Как мне кажется, в скором будущем обычные системные администраторы не очень-то будут и нужны.<br><br> Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка Сначала смотрел бесплатные вебинары Васи. Все вроде ка
                    button(class="item__full-btn") Полный отзыв