section.contest
    div.contest__wrapper
        div.container
            h2.contest__title Конкурс
            h3.contest__subtitle Прими участие в конкурсе
            p Попади в команду бета-тестирования и пройди<br> практикум Python by REBRAIN <span>бесплатно</span>
            button(class="contest__btn") Отправить заявку