section.course
    div.container
        h2.course__title Для кого подойдет практикум?
        div.course__item
            h3.course__item__title Системные администраторы и devops
            p.course__item__text Python важен для развития devops - один из самых гибких языков для автоматизации и интеграции.<br> Позволит уменьшить рутину и автоматизировать необходимые процессы.
        div.course__item
            h3.course__item__title SRE специалисты
            p.course__item__text Автоматизация всех процессов команд линии поддержки и разработки.<br> Работа с веб. приложением, написание на Python веб приложений.<br> Чтение кода разработчиков.
        div.course__item
            h3.course__item__title Инженеры
            p.course__item__text Поможет вырасти до должности devops.