footer.footer
    p.copyright ООО Ребреин ИНН/КПП: 7727409582/772701001 ОГРН: 1197746106161<br> Юридический адрес: 125047, г. Москва, Тверской-Ямской 1-й пер.,<br> д. 11, оф. 2
    div.footer__contact
        a(href="tel:+7 499 113 35 51") +7 499 113 35 51
        a(href="mailto:info@rebrainme.com") info@rebrainme.com
    ul.footer__links
        li
            a(href="#" class="link") Политика конфиденциальности
        li
            a(href="#" class="link") Публичная оферта
        li
            a(href="#" class="link") Согласие на получение рекламных материалов
        li
            a(href="#" class="link") Пользовательское соглашение
        li
            a(href="#" class="link") Согласие на обработку персональных данных