header.header 
    nav(class="navbar navbar-expand-lg")
        div(class="container-fluid")
            button(button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarContent")
                ul(class="navbar-nav")
                    li(class="nav-item")
                        a(class="nav-link" href="#") Главная
                    li(class="nav-item")
                        a(class="nav-link active" href="#") О нас
                    li(class="nav-item")
                        a(class="nav-link" href="#") Отзывы
                    li(class="nav-item")
                        a(class="nav-link" href="#") Блог
                    li(class="nav-item")
                        a(class="nav-link" href="#") Контакты
                    li(class="nav-item workshop-icon")
                        a(class="nav-link" href="#") Практикумы
                    li(class="nav-item")
                        a(class="nav-link" href="#") Для бизнеса
                div(class="header__right")
                    div.site-lang RU
                    a(class="account-link" href="#") Личный кабинет
