section.program
    div.container
        div.program__header
            h2.program__header__title Программа Prometheus by REBRAIN охватывает<br> все основные аспекты работы с Python
            p.program__header__text В данном практикуме мы дадим основы Python для тех, кто ранее не был знаком с данным языком или был знаком очень поверхностно.<br><br> Вы научитесь основам синтаксиса, которые можно будет потом использовать для применения в любой области и напишем клиент-серверное приложение, с клиентской частью , которая будет<br> снимать параметры сервера и отправлять по REST  API на web-form для мониторинга
        div.program__body
            h4.program__body__title Программа:
            div(class="accordion program__accordion" id="accordionProgram")
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-1")
                        button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-1" aria-expanded="true" aria-controls="panelsStayOpen-collapse-1") 1. Основы Python
                    div(id="panelsStayOpen-collapse-1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-1")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li История Python
                                li Применимость Python
                                li Почему Python - это круто? Основные особенности и идеология
                                li Принцип работы Python
                                li Способы запуска программ, возможные среды разработки
                                li Синтаксис Pyhton. Основные положения PEP8
                                li Ввод и вывод данных с консоли, Hello World
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-2")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-2" aria-expanded="false" aria-controls="panelsStayOpen-collapse-2") 2. Базовые типы данных Python. часть 1
                    div(id="panelsStayOpen-collapse-2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-2")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Базовые типы данных Python. часть 1
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-3")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-3" aria-expanded="false" aria-controls="panelsStayOpen-collapse-3") 3. Базовые типы данных Python. часть 2
                    div(id="panelsStayOpen-collapse-3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-3")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Базовые типы данных Python. часть 2
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-4")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-4" aria-expanded="false" aria-controls="panelsStayOpen-collapse-4") 4. Способы ветвления программы Python
                    div(id="panelsStayOpen-collapse-4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-4")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Способы ветвления программы Python
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-5")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-5" aria-expanded="false" aria-controls="panelsStayOpen-collapse-5") 5. Циклы Python
                    div(id="panelsStayOpen-collapse-5" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-5")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Циклы Python
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-6")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-6" aria-expanded="false" aria-controls="panelsStayOpen-collapse-6") 6. Работа с файлами
                    div(id="panelsStayOpen-collapse-6" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-6")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Работа с файлами
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-7")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-7" aria-expanded="false" aria-controls="panelsStayOpen-collapse-7") 7. Функции часть 1
                    div(id="panelsStayOpen-collapse-7" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-7")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Функции часть 1
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-8")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-8" aria-expanded="false" aria-controls="panelsStayOpen-collapse-8") 8. Функции часть 2
                    div(id="panelsStayOpen-collapse-8" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-8")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Функции часть 2
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-9")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-9" aria-expanded="false" aria-controls="panelsStayOpen-collapse-9") 9. Введение в модули
                    div(id="panelsStayOpen-collapse-9" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-9")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Введение в модули
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-10")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-10" aria-expanded="false" aria-controls="panelsStayOpen-collapse-10") 10. Модули. os, sys, requests
                    div(id="panelsStayOpen-collapse-10" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-10")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Модули. os, sys, requests
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-11")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-11" aria-expanded="false" aria-controls="panelsStayOpen-collapse-11") 11. Основы ООП
                    div(id="panelsStayOpen-collapse-11" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-11")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Основы ООП
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-12")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-12" aria-expanded="false" aria-controls="panelsStayOpen-collapse-12") 12. ООП Дополнение
                    div(id="panelsStayOpen-collapse-12" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-12")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li ООП Дополнение
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-13")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-13" aria-expanded="false" aria-controls="panelsStayOpen-collapse-13") 13. Построение RESTful API
                    div(id="panelsStayOpen-collapse-13" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-13")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Построение RESTful API
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-14")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-14" aria-expanded="false" aria-controls="panelsStayOpen-collapse-14") 14. Модули. logging
                    div(id="panelsStayOpen-collapse-14" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-14")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Модули. logging
                div(class="accordion-item")
                    h2(class="accordion-header" id="panelsStayOpen-heading-15")
                        button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-15" aria-expanded="false" aria-controls="panelsStayOpen-collapse-15") 15. Реализуем финальный проект.
                    div(id="panelsStayOpen-collapse-15" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-15")
                        div(class="accordion-body")
                            ul.accordion-list 
                                li Реализуем финальный проект.