section.python
    div.container
        div.row
            div.col-lg-5.col-xl-4
                img(src="images/python-icon.svg" class="python__icon" alt="Иконка Python")
            div.col-lg-7.col-xl-8
                h2.python__title Python
                p Это один из самых популярных инстрментов на рынке IT.<br><br> Его можно использовать для различных целей: от программирования, аналитики до автоматизации процессов. 