section.why-workshop
    div.container  
        h2.why-workshop__title Зачем вам практикум Prometheus by REBRAIN
        div.row
            div.col-xl-8.offset-xl-2
                ul(class="why-workshop__list")
                    li Python один из самых популярных языков на рынке сейчас, его можно увидеть в каждой второй вакансии на middle позицию.
                    li Он очень прост для входа.
                    li Легкий синтаксис: не нужно следить за запятыми и скобочками.
                    li Есть огромное количество готовых библиотек для любой задачи, что ускоорят работу над любой задачей.