section.workshop
    div.container
        h2.workshop__title Как проходит практикум?
        h4.workshop__subtitle Среднее время прохождения - 7 дней*<br> <span>*выполняя 2 задачи в день</span>
        div.row
            div.col-sm-6.col-xl-11.offset-xl-1
                div.workshop__item.item-1
                    div.workshop__item__icon
                    div.workshop__item__text Получаете задание
            div.col-sm-6.offset-sm-6.col-xl-6.offset-xl-6
                div.workshop__item.item-2
                    div.workshop__item__icon
                    div.workshop__item__text Смотрите видео
            div.col-sm-6.col-xl-11.offset-xl-1
                div.workshop__item.item-3
                    div.workshop__item__icon
                    div.workshop__item__text Задаете вопросы в закрытом чате
            div.col-sm-6.offset-sm-6.col-xl-6.offset-xl-6
                div.workshop__item.item-4
                    div.workshop__item__icon
                    div.workshop__item__text Автопроверка / Проверка инженером за 24 часа
            div.col-xl-10.offset-xl-1
                div.workshop__list
                    li Проходите в удобное для вас время
                    li Материалы останутся с вами навсегда