@use 'variables' as *;

.banks {
	padding: 66px 0 64px;
	&-title {
		margin-bottom: 30px;
	}
	&__search {
		display: flex;
		align-items: center;
		gap: 1px;
		max-width: 550px;
		margin: 0 auto;
		border-bottom: 1px solid #E5E5E5;
		margin-bottom: 32px;
		padding: 0 7px;
		&-submit, 
		&-clear {
			border: 0;
			background: transparent;
			padding: 0;
			width: 40px;
			height: 40px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
		&-field {
			font-size: 1rem;
			line-height: 1.4;
			border: 0;
			flex: 1;
			height: 56px;
			padding: 12px 4px 10px;
			&::placeholder {
				color: #8C8C8C;
			}
			&:focus {
				outline: 2px solid $primary-color;
        outline-offset: 1px;
			}
		}
	}
	&-items {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
	}
	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		background-color: $background-gray;
		height: 80px;
		padding: 9px 5px 5px 5px;
	}
}
