@use 'variables' as *;

.banks {
	padding: 66px 0 64px;
	&-title {
		margin-bottom: 30px;
	}
	&__search {
		max-width: 550px;
		margin: 0 auto;
		margin-bottom: 32px;
		position: relative;
		&-submit, 
		&-clear {
			border: 0;
			background: transparent;
			padding: 0;
			width: 40px;
			height: 40px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			position: absolute;
			top: calc(50% - 20px);
			&:focus {
				background-color: #fbfbfb;
				outline: none;
			}
		}
		&-submit {
			left: 7px;
		}
		&-clear {
			right: 7px;
		}
		&-field {
			font-size: 1rem;
			line-height: 1.4;
			border: 0;
			height: 56px;
			padding: 12px 46px 10px;
			border-bottom: 1px solid #E5E5E5;
			width: 100%;
			&::placeholder {
				color: #8C8C8C;
			}
			&:focus {
				outline: none;
				border-color: $primary-color;
			}
		}
	}
	&-items {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
	}
	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		background-color: $background-gray;
		height: 80px;
		padding: 9px 5px 5px 5px;
	}
}
