.cases {
	padding: 65px 0 64px;
	overflow: hidden;
	&__item {
		background-color: #fff;
		box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.08);
		border-radius: 20px;
		padding: 24px 20px 23px;
		height: 100%;
		flex: 1;
		&-icon {
			margin-bottom: 12px;
		}	
		&-heading {
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 1.3;
			margin-bottom: 17px;
		}
		&-list {
			padding: 0;
			margin: 0;
			list-style: none;
			font-size: 1rem;
			line-height: 1.375;
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.owl-carousel {
		.owl-stage-outer {
			overflow: visible !important;
		}
		.owl-stage {
			display: flex;
		  align-items: stretch;
		}
		.owl-item {
			display: flex;
		}
		.owl-nav, .owl-dots {
			display: none;
		}
	}
}