* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 60px auto;
}

.table__block-inner {
    display: none;
}

.table__block.show > .table__block-inner {
    display: block;
}

.table__row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr;
    background-color: #c7c7c7;
    color: #000000;
    min-height: 50px;
    align-items: center;
    padding: 0 10px;
}

.table__block-inner .table__row {
    background-color: #e1e1e1;
}

.table__block-inner .table__block-inner .table__row {
    background-color: #f2f2f2;
}

.table__row_header {
    background-color: #494949;
    color: #ffffff;
}

.table__col {
    padding: 5px 4px;
}

.cursor-pointer {
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.cursor-pointer:hover {
    opacity: 0.8;
}

.table__header {
    margin-bottom: 20px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.checkbox input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
}