div.blank
    div.blank__header
        div.blank__avatar
            img(src="images/my-avatar.jpg" alt="Avatar" class="")
        div.blank__inputs
            div.form-control.blank__inputs__item
                input(type="text" class="blank__input" data-input="Дмитрий" autocomplete="off")
                label Имя
            div.form-control.blank__inputs__item
                input(type="text" class="blank__input" data-input="07.03.1999" autocomplete="off")
                label Дата рождения
            div.form-control.blank__inputs__item
                input(type="text" class="blank__input" data-input="Заинск" autocomplete="off")
                label Город
            div.form-control.blank__inputs__item
                input(type="text" class="blank__input" data-input="+79196340584" autocomplete="off")
                label Контактные данные
    div.blank__body
        h3.blank__body__title Навыки
        div.blank__skills
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") Html5
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") SASS
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") vANILLAJS
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") GIT
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") css3
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox")
                    div(class="blank-checkbox__text") LESS
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox")
                    div(class="blank-checkbox__text") aNGULAR
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox")
                    div(class="blank-checkbox__text") fOUNDATION
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") БЭМ
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") gULP
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") JQUERY
            div.blank__skills__item
                label(class="blank-checkbox")
                    input(type="checkbox" checked-data="true")
                    div(class="blank-checkbox__text") BOOTSTRAP
    div.blank__bottom
        div.blank__graph
            div.blank__graph__bg
            div.blank__graph__arrow#graph-arr
        div.blank__level
            h3.blank__level__title Мой уровень владения<br> Java Script
            div(class="blank__level__count" data-target="85" id="level-counter") 85