$background-color: #140132;
$text-primary: #FCFCFD;
$text-secondary: #5E636E;
$primary-color: #01FFC2;
$white-color: #ffffff;
$border-color: #7156FB;

$heading-line-height: 1.21875;
$text-line-height: 1.833;
$text-med-line-height: 1.4615;

$text-font-size: 1.625rem;
$text-small-font-size: 1.125rem;