body {
	background-color: #f0f0f0;
	min-height: 100vh;
	position: relative;
}

.blank {
	max-width: 660px;
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("../images/blank-bg.jpg");
}

.blank__header {
	padding: 24px 20px 31px;
	border-bottom: 2px solid #f0f0f0;
	display: flex;
}

.blank__body {
	padding: 32px 20px 40px;
	border-bottom: 2px solid #f0f0f0;
}

.blank__bottom {
	padding: 58px 20px 65px;
	display: flex;
}

.blank__avatar {
	width: 138px;
	min-width: 138px;
	height: 138px;
	border-radius: 50%;
	overflow: hidden;
	margin: 6px 21px 0 0;
	opacity: 0;
	animation: graph-animate 1s;
	animation-fill-mode: forwards;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.blank__graph {
	width: 253px;
	height: 127px;
	margin-right: 68px;
	position: relative;
}

.blank__graph__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/graph-bg.png") 0px 0;
	opacity: 0;
	animation: graph-animate 0.5s;
	animation-fill-mode: forwards;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url("../images/graph-bg.png") -254px 0;
		opacity: 0;
		animation: graph-animate 0.5s;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url("../images/graph-bg.png") -508px 0;
		opacity: 0;
		animation: graph-animate 0.5s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
}

.blank__graph__arrow {
	width: 19px;
	height: 64px;
	background: url("../images/graph-arr.png") no-repeat center center;
	position: absolute;
	top: 100%;
	left: 50%;
	transform-origin: center 55px;
	transform: translate(-50%, -88%) rotate(-90deg);
	animation: arrow-animate 2s;
	animation-fill-mode: forwards;
}

@keyframes graph-animate {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes arrow-animate {
	0% {
		transform: translate(-50%, -88%) rotate(-90deg);
	}
	70% {
		transform: translate(-50%, -88%) rotate(90deg);
	}
	100% {
		transform: translate(-50%, -88%) rotate(60deg);
	}
}

.blank__inputs {
	width: 100%;
}
.form-control {
	position: relative;
	margin: 0px 0 29px;
	width: 100%;
	&:last-child {
		margin-bottom: 0;
	}
	input {
		background-color: transparent;
		border: 0;
		border-bottom: 2px solid #333333;
		display: block;
		width: 0%;
		transition: width 1.5s ease;
		padding: 6px 0;
		text-transform: uppercase;
		font-size: 0.75rem;
		color: #666666;
		font-weight: 500;
		position: relative;
		z-index: 1;
		&:focus {
			outline: 0;
		}
		&:focus + label span {
			color: #0093d7;
			transform: translateY(-20px);
		}
	}
	.fill + label span {
		color: #0093d7;
		transform: translateY(-20px);
	}
	label {
		position: absolute;
		top: 0;
		left: 0;
		letter-spacing: 1px;
		span {
			display: inline-block;
			font-size: 0.75rem;
			text-transform: uppercase;
			min-width: 5px;
			font-weight: 500;
			color: #666666;
			transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}
}

.blank__body__title {
	font-weight: 500;
	color: #010101;
	font-size: 1.125rem;
	margin: 0 0 22px;
	letter-spacing: 0.5px;
}

.blank__skills {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -41px;
}

.blank__skills__item {
	width: 25%;
	margin-bottom: 41px;
}

/* blank-checkbox */
.blank-checkbox {
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		margin: 10px 0 0 20px;
		&:checked + .blank-checkbox__text {
			&:after {
				animation: checkbox-zoom 0.5s;
				animation-fill-mode: forwards;
			}
			&:hover {
				&:before {
					transform: scale(1);
				}
			}
		}
	}
}
.blank-checkbox__text {
	position: relative;
	padding: 0 0 0 27px;
	cursor: pointer;
	color: #666666;
	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-flex;
	letter-spacing: 1px;
	transition: 0.4s ease;
	&:before {
		content: "";
		position: absolute;
		top: -3px;
		left: 0;
		width: 19px;
		height: 19px;
		border-radius: 2px;
		background: #eeeeee;
		transition: 0.4s;
	}
	&:after {
		content: "";
		position: absolute;
		top: -3px;
		left: 0px;
		width: 19px;
		height: 19px;
		border-radius: 2px;
		background: url("../images/mark-icon.png") no-repeat center center;
		background-color: #0093d7;
		transition: 0.4s;
		opacity: 0;
	}
	&:hover {
		color: #0093d7;
		&:before {
			transform: scale(1.4);
		}
	}
}

@keyframes checkbox-zoom {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.4);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.blank__level__title {
	font-weight: 500;
	color: #010101;
	font-size: 1.125rem;
	margin: 6px 0 8px;
	line-height: 1.3;
}

.blank__level__count {
	font-weight: 900;
	color: #0093d7;
	font-size: 3.125rem;
	margin: 0;
}

.blank__body-wrapper {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

.blank__bottom-wrapper {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

.wrapper-active {
	max-height: 300px;
}

@media (max-width: 450px) {
	.blank {
		position: static;
		transform: translate(0%, 0%);
	}
	.blank__header {
		flex-direction: column;
		padding: 40px 20px 31px;
	}
	.blank__inputs {
		padding-top: 20px;
	}
	.blank__avatar {
		margin: 0 auto;
	}
	.blank__skills__item {
		width: 50%;
	}
	.blank__bottom {
		flex-direction: column;
	}
	.blank__graph {
		margin: 0 auto 20px;
	}
	.blank__level {
		text-align: center;
	}
}

@media (min-width: 451px) and(max-width:630px) {
	.blank {
		position: static;
		transform: translate(0%, 0%);
	}
	.blank__header {
		padding: 54px 20px 31px;
	}
	.blank__skills__item {
		width: 33.332%;
	}
	.blank__bottom {
		flex-direction: column;
	}
	.blank__graph {
		margin: 0 auto 20px;
	}
	.blank__level {
		text-align: center;
	}
}

@media (max-height: 780px) {
	.blank {
		position: static;
		transform: translate(0%, 0%);
		margin: 30px auto;
	}
}
