@font-face {
    font-family: 'M-PLUS-1p';
    src: url('./../fonts/M_PLUS_1p/Mplus1p.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'M-PLUS-1p';
    src: url('./../fonts/M_PLUS_1p/Mplus1pMedium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'M-PLUS-1p';
    src: url('./../fonts/M_PLUS_1p/Mplus1pBold.ttf') format('truetype');
    font-weight: 700;
}